body{
  margin: 0;
  padding: 0;
}
.navigation ul{
  padding: 5px 10px;
  
}
header h1{
  font-size: 2em;
  margin: 0;
  padding: 25px;
}
nav . .navigation {
  background-color: rgb(31, 83, 83);
  padding: 25px;
  text-align: center;
}
.navigation ul li{
  background-color: rgb(209, 144, 144);
  display: inline-block;
  margin: 5px 25px;
  padding: 5px 10px;
  
}
li a{
  color:BLACK;
  text-decoration: none;
}
section{
  background-color: rgb(189, 201, 81);
  text-align: center;

}
div.box{
  display:inline-block;
  width: 30%; 

}
div.box img{
  width: 100%;
  object-fit: cover;
  

}

div.box p{
  background-color:  rgb(209, 144, 144);
  border: 5px solid blueviolet;
  padding:10%;
  padding: 15PX;

}
p::first-letter{
  font-size: 200%;
  color: rgb(241, 228, 40)
}
footer{
  background-color: black;
  padding:25px;
  text-align:center;
}
footer li{
  background-color: rgb(226, 55, 55);
  display: inline-block;
  margin:10px 10px;
  padding: 10px 10px;
}
footer li a{
  color: white;

}